<!DOCTYPE html>
<html lang="cmn-Hans-CN">
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <br>
  <h1>{{ content_title }}</h1>
  <br><br>
  <div id="box">{{ content_state|safe }}</div>

  <script type="text/javascript">
        var oBox = document.getElementById("box");
        var oContent = oBox.innerHTML;
        var testTxt = document.getElementById("testTxt");
        var oBtn = document.getElementById("btn");
        oBtn.onclick = function(){
            var val = {{ values }};
            var findText = oContent.split(val);
            oBox.innerHTML = findText.join('<span style="color:red;">' + val + '</span> ');
        };

  </script>

</body>
</html>